@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    color: #161616;
}

:root {
    /*--bg-color: hsl(49 37% 94%);*/
    --bg-color: #F6EDDC;
}

::selection {
    background-color: #bbae8d;
}

::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #756d56;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #756d56;
    border-radius: 1rem;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background-color: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #f09f9f;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}