@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    color: #161616;
}

:root {
    /*--bg-color: hsl(49 37% 94%);*/
    --bg-color: #F6EDDC;
}

::selection {
    background-color: #bbae8d;
}

::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #756d56;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #756d56;
    border-radius: 1rem;
}

body {
    background-color: var(--bg-color);
}

button {
    color: #161616;
}

textarea {
    width: 21cm;
    min-height: 25.7cm;
    padding: 2cm;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    margin: .5cm auto;
    border-radius: 5px;
    border: 1px solid #000000;
    background: #f8f6f1;
    resize: none;
    color: #161616;
    box-shadow: 0 1px 8px #bbae8d;
}

.counter {
    color: #161616;
    text-align:center;
    font-size: 14px;
}

#filename {
    padding: 10px 20px;
    background: #f8f6f1;
    border: none;
}

.side-nav button {
    /**display: grid;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;**/
    text-decoration: none;
    display: grid;
    margin-top: 10px;
    padding: 10px 25px;
    border: 1px solid var(--color);
    border-radius: 5px;
    position: relative;
    color: #9b9073;
    z-index: 1;
    transition: .3s linear;
    box-shadow: 0 0 5px #a89e87,
    0 0 25px #a89e87;
    cursor: pointer;
}

.side-nav button:hover {
    transition: .3s linear;
    background: var(--color);
    box-shadow: 0 0 5px #ccc0a3,
    0 0 25px #ccc0a3, 0 0 50px #ccc0a3
    0 0 300px #ccc0a3, 0 0 200px #ccc0a3;
    color: #756d56;
}

.side-nav li {
    list-style: none;
    margin: .5cm;
}

.side-nav li a {
    text-decoration: none;
    display: grid;
    margin-top: 10px;
    width: 10%;
    text-align: center;
    padding: 20px 25px;
    border: 1px solid var(--color);
    border-radius: 5px;
    position: relative;
    color: #9b9073;
    z-index: 1;
    transition: .3s linear;
    box-shadow: 0 0 5px #a89e87,
    0 0 25px #a89e87;
    cursor: pointer;
}

.side-nav li a:hover {
    transition: .3s linear;
    background: var(--color);
    box-shadow: 0 0 5px #ccc0a3,
    0 0 25px #ccc0a3, 0 0 50px #ccc0a3
    0 0 300px #ccc0a3, 0 0 200px #ccc0a3;
    color: #756d56;
}

/*HEADER*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #bbae8d;
    border-radius: 5px;
    letter-spacing: 1px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

#nav-title a:hover{
    color: #161616;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #bbae8d;
}

/*MAIN*/

.abt-cont {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.abt-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Space Grotesk", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem;
    align-items: center;
    justify-content: center;
}

.left img {
    max-width: 101%;
    margin-top: -2px;
    max-height: 72rem;
    vertical-align: middle;
}

.right > * {
    margin-bottom: 1.1rem;
    color: #161616;
}

.right h4 {
    color: var(--color);
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--color);
    border-radius: 4rem;
    display: inline-block;
    padding: 0.3rem .9rem;
}

.right h1 {
    line-height: 140%;
    font-size: 2rem;
    font-weight: 400;
}

.right p {
    color: #747083;
    font-size: 1.1rem;
    line-height: 160%;
    font-weight: 400;
}

.right a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    border: 1px solid var(--color);
    border-radius: 5px;
    position: relative;
    color: #9b9073;
    z-index: 1;
    transition: .3s linear;
    box-shadow: 0 0 5px #a89e87,
    0 0 25px #a89e87;
}

.right a:hover {
    transition: .3s linear;
    background: var(--color);
    box-shadow: 0 0 5px #ccc0a3,
    0 0 25px #ccc0a3, 0 0 50px #ccc0a3
    0 0 300px #ccc0a3, 0 0 200px #ccc0a3;
    color: #756d56;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/**.key {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    position: relative;
    display: inline-block;
    
    width: 80px;
    height: 80px;
    padding: 8px 15px;
    margin: 8px 4px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
                inset 0 -8px 8px rgba(0,0,0,0.25),
                0 0 0 2px rgba(0,0,0,0.75),
                10px 20px 25px rgba(0,0,0,0.4);
}

span:last-child{
    width: 100%;
}

span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
                10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

span i {
    position: relative;
    color: #fff;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}**/

footer {
    border-top: 1px solid #ccc0a3;
    color: #9b9073;
    padding: 15px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p {
    color: #9b9073;
}

footer a {
    color: #9b9073;
}

.title {
    text-decoration: underline;
}